@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d23udy');
  src:  url('fonts/icomoon.eot?d23udy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d23udy') format('truetype'),
    url('fonts/icomoon.woff?d23udy') format('woff'),
    url('fonts/icomoon.svg?d23udy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pil:before {
  content: "\e900";
}
.icon-error:before {
  content: "\e901";
}
.icon-call:before {
  content: "\e902";
}
.icon-chat:before {
  content: "\e903";
}
.icon-phone:before {
  content: "\e904";
}
.icon-list_alt:before {
  content: "\e905";
}
.icon-content_paste:before {
  content: "\e906";
}
.icon-ballot:before {
  content: "\e907";
}
.icon-how_to_vote:before {
  content: "\e908";
}
.icon-where_to_vote:before {
  content: "\e909";
}
.icon-access_alarm:before {
  content: "\e90a";
}
.icon-brightness_high:before {
  content: "\e90b";
}
.icon-dvr:before {
  content: "\e90c";
}
.icon-notes:before {
  content: "\e90d";
}
.icon-brightness_1:before {
  content: "\e90e";
}
.icon-local_hospital:before {
  content: "\e90f";
}
.icon-local_pharmacy:before {
  content: "\e910";
}
.icon-location_history:before {
  content: "\e911";
}
.icon-map:before {
  content: "\e912";
}
.icon-pin_drop:before {
  content: "\e913";
}
.icon-add_location:before {
  content: "\e914";
}
.icon-person_pin_circle:before {
  content: "\e915";
}
.icon-not_listed_location:before {
  content: "\e916";
}
.icon-arrow_forward:before {
  content: "\e917";
}
.icon-cancel:before {
  content: "\e918";
}
.icon-check:before {
  content: "\e919";
}
.icon-expand_less:before {
  content: "\e91a";
}
.icon-expand_more:before {
  content: "\e91b";
}
.icon-menu:before {
  content: "\e91c";
}
.icon-keyboard_control:before {
  content: "\e91d";
}
.icon-more_vert:before {
  content: "\e91e";
}
.icon-arrow_upward:before {
  content: "\e91f";
}
.icon-subdirectory_arrow_right:before {
  content: "\e920";
}
.icon-arrow_downward:before {
  content: "\e921";
}
.icon-first_page:before {
  content: "\e922";
}
.icon-last_page:before {
  content: "\e923";
}
.icon-arrow_back_ios:before {
  content: "\e924";
}
.icon-arrow_forward_ios:before {
  content: "\e925";
}
.icon-mood_bad:before {
  content: "\e926";
}
.icon-notifications:before {
  content: "\e927";
}
.icon-check_box:before {
  content: "\e928";
}
.icon-star:before {
  content: "\e929";
}
.icon-star_half:before {
  content: "\e92a";
}
.icon-star_outline:before {
  content: "\e92b";
}
.icon-account_circle:before {
  content: "\e92c";
}
.icon-assignment:before {
  content: "\e92d";
}
.icon-assignment_late:before {
  content: "\e92e";
}
.icon-assignment_turned_in:before {
  content: "\e92f";
}
.icon-book:before {
  content: "\e930";
}
.icon-bookmark:before {
  content: "\e931";
}
.icon-check_circle:before {
  content: "\e932";
}
.icon-credit_card:before {
  content: "\e933";
}
.icon-description:before {
  content: "\e934";
}
.icon-favorite:before {
  content: "\e935";
}
.icon-favorite_outline:before {
  content: "\e936";
}
.icon-help:before {
  content: "\e937";
}
.icon-home:before {
  content: "\e938";
}
.icon-lock_open:before {
  content: "\e939";
}
.icon-lock_outline:before {
  content: "\e93a";
}
.icon-note_add:before {
  content: "\e93b";
}
.icon-power_settings_new:before {
  content: "\e93c";
}
.icon-receipt:before {
  content: "\e93d";
}
.icon-search1:before {
  content: "\e93e";
}
.icon-thumb_down:before {
  content: "\e93f";
}
.icon-thumb_up:before {
  content: "\e940";
}
.icon-verified_user:before {
  content: "\e941";
}
.icon-view_list:before {
  content: "\e942";
}
.icon-view_module:before {
  content: "\e943";
}
.icon-indeterminate_check_box:before {
  content: "\e944";
}
.icon-calendar_today:before {
  content: "\e945";
}
.icon-contact_support:before {
  content: "\e946";
}
.icon-menu_open:before {
  content: "\e947";
}
.icon-article:before {
  content: "\e948";
}
.icon-medical_services:before {
  content: "\e949";
}
.icon-text_snippet:before {
  content: "\e94a";
}
.icon-chevron-left:before {
  content: "\e94b";
}
.icon-chevron-right:before {
  content: "\e94c";
}
.icon-pill:before {
  content: "\e94d";
}
.icon-search:before {
  content: "\f002";
}
